{% extends "../base.html" %}
{% load static %}
{% block content %}

<main class="container">
  <section class="text-center container">
    <div class="h-25 border-4 border-bottom border-dark pb-4 cusFont" >
      <h1 class="breakingNewsFontSize">BREAKING NEWS</h1>
      <h2 class="">THE CLASSIC DEVELOPER NEWSPAPER</h2>
    </div>
    <div class="row pt-5">
      <div class="col-lg-6 col-md-8 mx-auto pe-5">
        <h1 class="fw-light text-start fst-italic mb-4">"Full Stack Developer"</h1>
        <p class="lead text-muted mb-4">Hi, my name is Angelo, I enjoy making apps and websites. I also enjoy playing piano
          and go to the mountain to do some hiking. </p>
        <p class="lead text-muted mb-4">He as compliment unreserved projecting. Between had observe pretend delight for believe. 
          Do newspaper questions consulted sweetness do. Our sportsman his unwilling fulfilled departure law. Now world own total saved above 
          her cause table. Wicket myself her square remark the should far secure sex. Smiling cousins warrant law explain for whether.</p>
        <p class="lead text-muted mb-4">He as compliment unreserved projecting. Between had observe pretend delight for believe. 
          Do newspaper questions consulted sweetness do. Our sportsman his unwilling fulfilled departure law. Now world own total saved above 
          her cause table. Wicket myself her square remark the should far secure sex. Smiling cousins warrant law explain for whether. departure 
          now world own total saved above her cause table.</p>
      </div>
      <div class="col-lg-6 col-md-8">
        <div class="bg-body-secondary">
                    <!-- <p>
            <a href="mailto:angeloalencarbianchi@gmail.com" class="btn btn-primary my-2">Email me</a>
          </p> -->
          <img src="{% static 'img/myPhotoBlackAndWhite.png' %}" height=400></img>
          <!-- <p class="mt-3">
            <a href="#" class="btn btn-primary my-2">Curriculum Vitae (PDF)</a>
          </p> -->
        </div>
        <div class="mt-3">
          <h5 class="text-start fst-italic mb-4">"The development is something that treags me and make me wonder what would be "</h5>
        </div>
        <div class="row mt-4">
          <div class="col me-3">
            <p class="lead text-muted">something something about something and now. Here will be a text that needs to be at least a good size to fit in the something there</p>
          </div>
          <div class="col ms-3">
            <p class="lead text-muted">and here will be the continuation of the text beside. I need to make it a little smalled just to be a little different.</p>
          </div>
        </div>

      </div>
    </div>

  </section>
</main>

{% endblock content %}