{% extends "../../base.html" %}
{% load static %}
{% block content %}

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Job Detail</h1>
        <p class="lead text-muted">{{ job.name }}</p>
        <p class="lead text-muted">{{ job.summary }}</p>
        <img src="{{job.image.url}}" height=300></img>
        <p>
          <a href="{% url 'jobs:index' %}" class="btn btn-outline-primary my-2">Back to Jobs Page</a>
          <a href="{% url 'home:index' %}" class="btn btn-outline-secondary my-2">Back to Home Page</a>
        </p>
      </div>
    </div>
  </section>
</main>

{% endblock content %}